#!/bin/bash

if [ -z "$LIBVIRT_DEFAULT_URI" ]; then
	export LIBVIRT_DEFAULT_URI="qemu:///system"
fi

if [ -z "$DISTRO" ]; then
	export DISTRO="centos"
fi

if [ -z "$VERBOSE_FILE" ]; then
	export VERBOSE_FILE="/dev/null"
fi
